/*  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.top-bg {
    position: absolute;
    background: url(../images/bg-pattern-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 987px;
    height: 978px;
    top: -524px;
    left: -284px;
}

.botton-bg {
    position: absolute;
    background: url(../images/bg-pattern-bottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 987px;
    height: 978px;
    bottom: -628px;
    right: -284px;
}

.container .wrapper{
    text-align: center;
    max-width: 420px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    margin: 1rem;
    z-index: 1;
}


.container .wrapper .content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-top: -50px;
    margin-bottom: 20px;
}

.container .wrapper .content h1{
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

.container .wrapper .content h1 span{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.container .wrapper .content p{
    color: hsl(227, 10%, 46%);
    font-size: 13px;
}

.container .wrapper .content .footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsl(227, 10%, 46%, 0.3);
    padding: 30px 50px;
    margin-top: 25px;
}

.container .wrapper .content .footer .number{
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

@media(max-width: 425px) {
    .top-bg {
        width: 387px;
        height: 378px;
        top: -160px;
        left: -166px;
    }
    
    .botton-bg {
        width: 387px;
        height: 378px;
        bottom: -160px;
        right: -166px;
    }
    
}
